# Byte-compiled / optimized / DLL files
__pycache__/
*.log
*.py[cod]
.env
.config
.spotipy_cache

devtools
*.bak

*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
*.swp

*.iml
=======
.idea

.DS_Store
build
dist
pypy

*.orig
*.codekit

*.egg*
*.egg-info
.eggs
.mypy_cache
.pytest_cache
.python-version
.tox

venv*
testconf*

